@import url('https://fonts.googleapis.com/css2?family=Inter');
@import url('https://unpkg.com/primereact/resources/primereact.min.css');
@import url('https://unpkg.com/primereact/resources/themes/lara-light-indigo/theme.css');
@import url('https://unpkg.com/primeflex@3.1.2/primeflex.min.css');
@import url('https://unpkg.com/primeicons/primeicons.css');

html, body {
    font-family: 'Inter';
    margin: 0;
    overflow: hidden;
}
#border{
    border: 2px;
    border-style: solid;
}
#side-menu{
    border-right: 2px solid #B1C7F3;
    min-height: calc(100vh - 100px);
}
#side-config{ 
    background-color: #C1C7CB;
    min-height: calc(100vh - 100px);
}
#logo-menu{
    width: 50%;
    cursor: pointer;
}
#top-menu{
    background-color: #5786E6;
}
.top-menu-btn{
    margin-right: 10px;
    padding: 5px;
}
#outlet{
    max-height: calc(100vh - 100px);
}
#list{
    height: calc(100vh - 250px);
    overflow: auto;
}
#list::-webkit-scrollbar {
    display: none;
  }