#side-menu {
    border-right: 2px solid #B1C7F3;
    min-height: calc(100vh - 100px);
}

.side-menu-btn {
    background-color: transparent;
    color: #366FE1;
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.side-menu-btn:hover {
    border: solid 2px;
}

#side-config {
    background-color: #C1C7CB;
    min-height: calc(100vh - 100px);
}

.side-config-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    padding: 8px
}.side-config-btn:hover {
    border: solid 2px;
    border-radius: 10px;
    color: white;
}

#logo-menu {
    width: 50%;
    cursor: pointer;
}

#top-menu {
    background-color: #5786E6;
}

.top-menu-btn {
    margin-right: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.top-menu-btn-2 {
    background-color: transparent;
    border: solid 1px #8CACEE;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
}

.cadastro-btn-blue {
    border: none;
    border-radius: 5px;
    background: #044BD9;
    color: white;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.cadastro-btn-green {
    border: none;
    border-radius: 5px;
    background: #00B180;
    color: white;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;

}

.cadastro-btn-red {
    border: none;
    border-radius: 5px;
    background: #E54A64;
    color: white;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.cadastro-btn-color {
    border: none;
    border-radius: 5px;
    background: linear-gradient(44deg, #044BD9 0%, #00A6AB 100%);
    color: white;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.icon-white {
    color: white;
}

.icon-black {
    color: black;
}

#frame-perfil {
    background:
        linear-gradient(white 0 0) padding-box,
        linear-gradient(44deg, #044BD9 0%, #00A6AB 100%) border-box;
    color: #313149;
    padding: 10px;
    border: 5px solid transparent;
    border-radius: 50%;
    height: 160px;
    width: 160px;
    font-size: 50px;
    color: linear-gradient(44deg, #044BD9 0%, #00A6AB 100%);
}

#outlet {
    max-height: calc(100vh - 100px);
}

#form {
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 17px;
    margin-bottom: 17px;
    margin-left: 10px;
    padding: 5px;
    width: 100%;
}

.cadastro-area {
    background: white;
    border-radius: 5px;
}

.scroll {
    height: calc(100vh - 200px);
    overflow: auto;
    padding: 15px;
    background:
        /* Shadow Cover TOP */
        linear-gradient(#ebedee 30%,
            rgba(255, 255, 255, 0)) center top,

        /* Shadow Cover BOTTOM */
        linear-gradient(rgba(255, 255, 255, 0),
        #ebedee 70%) center bottom,

        /* Shadow TOP */
        radial-gradient(farthest-side at 50% 0,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0)) center top,

        /* Shadow BOTTOM */
        radial-gradient(farthest-side at 50% 100%,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0)) center bottom;
    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    background-attachment: local, local, scroll, scroll;
}.scroll::-webkit-scrollbar {
    display: none;
}

/* SUBSTITUIR A CLASSE ABAIXO PELA DE CIMA (SCROLL) */

#list {
    height: calc(100vh - 275px);
    overflow: auto;
}

#list::-webkit-scrollbar {
    display: none;
}