@import url('https://fonts.googleapis.com/css2?family=Inter');
@import url('https://unpkg.com/primereact/resources/primereact.min.css');
@import url('https://unpkg.com/primereact/resources/themes/lara-light-indigo/theme.css');
@import url('https://unpkg.com/primeflex@3.1.2/primeflex.min.css');
@import url('https://unpkg.com/primeicons/primeicons.css');

html, body {
    font-family: 'Inter';
}

#border{
    border: 2px;
    border-style: solid;
}